/**
 * @author: xhb
 * @create: 2017-12-30
 * @description: 云药样式文件
 */



.bg-green {background-color: #00CABA;}
.has-bottom {padding-bottom: 55px;}

.mui-bar {box-shadow: 0 0 1px #aaa; -webkit-box-shadow: 0 0 1px #aaa; background: white;}
.mui-tab-item span {font-size: 12px;}
.mui-tab-item .tab-item {display: block; width: 24px; height: 24px; margin: 0 auto; margin-top: 8px; margin-bottom: -4px; background-size: 20px 20px; background-repeat: no-repeat;}
.mui-tab-item .home {background-image: url(../img/tab_home_default.png);}
.mui-tab-item.mui-active .home {background-image: url(../img/tab_home_active.png);}
.mui-tab-item .fast {background-image: url(../img/tab_fast_default.png);}
.mui-tab-item.mui-active .fast {background-image: url(../img/tab_fast_active.png);}
.mui-tab-item .message {background-image: url(../img/tab_message_default.png);}
.mui-tab-item.mui-active .message {background-image: url(../img/tab_message_active.png);}
.mui-tab-item .mine {background-image: url(../img/tab_mine_default.png);}
.mui-tab-item.mui-active .mine {background-image: url(../img/tab_mine_active.png);}
.mui-tab-item .mui-tab-label {margin-left: -3px;}

.white-input::-webkit-input-placeholder { /* WebKit browsers */color: whitesmoke !important;}
.white-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color: whitesmoke !important;}
.white-input::-moz-placeholder { /* Mozilla Firefox 19+ */color: whitesmoke !important;}
.white-input:-ms-input-placeholder { /* Internet Explorer 10+ */color: whitesmoke !important;}

.pop {position: absolute;left: 5%; top: 5%; bottom: 5%; width: 90%; background: rgb(107, 215, 212); border-radius: 20px;}
.pop>p {text-align: center;margin-bottom: 15px;margin-top: 30px; color: whitesmoke;font-size: 20px;}
.pop .mui-icon-back {position: absolute; left: 5%; top: 30px; padding-top: 1px; padding-right: 1px; color: whitesmoke; background: rgb(46,86,89); border-radius: 100%;}

.line-divider {height: 5px; background: linear-gradient(to right, rgb(79, 205, 203), rgb(171, 233, 231), rgb(79, 205, 203)); border: none;}

.code-input {width: 90%; margin-top: 20px; margin-left: 5%;}
.code-input>input {display: inline-block; width: 60%; margin-bottom: 0px; background-color: rgb(75, 196, 193);color: whitesmoke; border-radius: 10px; border: 1px rgb(115,217,216) solid;}
.code-input>button {float: right; width: 35%;text-align: center; padding: 0; height: 40px; border-radius: 10px;color: whitesmoke;font-size: 14px;background-color: rgb(75, 196, 193);border: 1px rgb(115,217,216) solid;}

.rich-input {position: relative; width: 90%; height: 40px; margin-top: 20px; margin-left: 5%; padding: 0;color: whitesmoke; background-color: rgb(75, 196, 193); border-radius: 10px; border: 1px rgb(115,217,216) solid;}
.rich-input img {position: absolute;display: inline;top: 10px; left: 10px; min-width: 20px;height: 20px;}
.rich-input input {padding-left: 44px; margin: 0;background: rgba(0,0,0,0);border: none;}
.rich-input div {margin-left: 50px; border-bottom: whitesmoke 1px solid;}
.rich-input div input {padding-left: 0px;}
.rich-input.white-style {margin-top: 2px; width: 70%; margin-left: 15%; background: white; color: #777; border: none;}

.btn-submit {width: 90%; height: 44px; margin-left: 5%; margin-top: 25px; background-color: rgb(75, 196, 193); color: whitesmoke; font-size: 18px; border: none;}
.logo {display: table-cell; width: 80px; height: 80px; margin: 30px auto; border-radius: 100%; border: none;}

.login {position: absolute; width: 100%; background: rgba(0,0,0,0);}
.login .rich-input {background: rgba(0,0,0,0); border: none;}
.login .btn-submit {color: #777; background: white; border-radius: 20px; -webkit-border-radius: 20px; box-shadow: 0px 2px rgb(0, 169, 152);}

.operate-menu {width: 90%; height: 40px; margin-left: 5%; margin-top: 20px;}
.operate-menu button {color: white; background: rgba(0,0,0,0); border: none;}
.operate-menu .left-menu {float: left;}
.operate-menu .right-menu {float: right;}

.mui-bar .mui-tab-item.mui-active {color: #00CABA;}
header.mui-bar {background: rgba(75,193,172,1);}
header.mui-bar.mui-bar-transparent {background: rgba(75,193,172,0);}
header.mui-bar {box-shadow: none; -webkit-box-shadow: none;}
header .mui-title {color: whitesmoke;}
header .mui-icon {color: whitesmoke;}

.mui-table-view-cell {padding: 5px;}
.mui-media-body {padding-top: 5px;}
.mui-media-body label {font-size: 12px;}
.mui-table-view .mui-media-object {height: 68px; width: 88px; max-width: 88px;}
.mui-table-view-cell:after {left: 0px;}

.top-tips {padding: 0 8px; background: #FFEEEE;}
.top-tips img {height: 18px; padding-top: 8px;}
.top-tips label {margin-left: 5px; font-size: 13px;}
.top-tips span {float: right; margin-top: 7px; font-size: 14px; color: #aaa;}

.seek-list {background: rgba(0,0,0,0);}
.seek-list:before, .seek-list:after {height: 0;}
.seek-list .mui-table-view-cell:after {height: 0;}
.seek-list .mui-table-view-cell {padding: 5px 10px;}
.seek-list .mui-media-object {margin-top: 15px; width: 68px; height: 48px; background: white;}

.item-content {margin-left: 30px; height: 80px; padding: 10px; z-index: 0; background: white; border: rgb(75,193,172) 1px solid; border-radius: 5px;}
.item-content p button {position: absolute; top: 0; right: 0; padding: 2px; font-size: 10px; color: white; background: rgb(75,193,172); border: none;}
.item-content p {position: relative; height: 30px; margin-top: 5px; margin-bottom: 0px; padding-right: 45px; line-height: 15px; color: black;}
.item-content div {line-height: 15px; font-size: 12px; color: #333;}
.item-content div span {margin-top: 10px; color: #666; font-size: 10px;}

.mine-top {padding: 20px; background: rgb(75,193,172); color: white; text-align: center;}
.mine-top img {display: table-cell; margin: 0px auto; width: 88px; height: 88px; border-radius: 44px;}
.mine-top p {margin-top: 10px; color: white;}

.look-order {padding: 10px 10px 3px 10px; background: white; overflow: hidden;}
.look-order img {display: inline-block; float: left; width: 35px; margin-top: -4px;}
.look-order label {float: left; margin-top: 2px;}
.look-order span.mui-pull-right {margin-top: 2px; color: #999; font-size: 14px;}
.look-order span span {font-size: 18px;}

.line-menus {display: block; width: 100%; margin-top: 5px; font-size: 0; background: white;}
.line-menus .menu-item {display: inline-block; padding: 5px 0; text-align: center;}
.line-menus.average-five .menu-item {width: 20%;}
.line-menus.average-four .menu-item {width: 25%; padding: 15px 0;}
.line-menus.average-three .menu-item {width: 33.3333%; padding: 15px 0;}
.line-menus.no-divider {margin-top: 0;}
.line-menus .menu-item p {margin-bottom: 0;}
.line-menus.average-five .menu-item img {height: 34px; margin-bottom: -8px;}
.line-menus.average-four .menu-item img {width: 44px; height: 44px;}
.line-menus.average-three .menu-item img {width: 44px; height: 44px;}

.my-money {display: table; width: 100%; margin-top: 5px; background: white; text-align: center;}
.my-money div {display: table-cell; width: 50%; padding-top: 15px;}
.my-money div p {color: rgb(75,193,172);}
.my-money div p:first-child {margin-bottom: 5px; font-size: 24px;}
.my-money div p span {font-size: 14px;}

.fast-content {padding: 0px 10%;}
.header-footer-input {position: relative;}
.header-footer-input div {margin-left: 15px; height: 35px; border-bottom: 1px #DDD solid;}
.header-footer-input div input {margin-bottom: 0; padding: 0; background: rgba(0, 0, 0, 0); border: none;}
			
.point {position: absolute; top: 15px; width: 8px; height: 8px; background: red; border-radius: 100%;}
.green {background: green;}
.purple {background: purple;}

.radio-group {display: table; margin-bottom: 0; width: 100%; padding: 10px 15px; font-size: 14px; color: #999;}
.radio-item {display: table-cell;}

.header-tabs {display: inline-block; line-height: 100%; font-size: 12px; background: white; color: black; border-radius: 5px; border: 1px #999 solid;}
.header-tabs .item-tab {display: inline-block; padding: 8px 10px;}
.header-tabs .item-tab.active {background: black; color: white;}
.order-list {background: rgba(0,0,0,0);}
.order-list:before, .order-list:after {height: 0;}
.order-list li:after {height: 0;}
.item-order {background: white; border-radius: 5px;}
.item-order .header {min-height: 30px; padding: 0 10px; font-size: 14px; border-bottom: 1px #DDD solid;}
.item-order .header label {float: right;}
.item-order .content {min-height: 60px;}
.item-order .footer {display: table; width: 100%; padding: 0 5px; min-height: 30px; border-top: 1px #DDD solid;}
.item-order .footer label {display: table-cell; width: 50%; line-height: 30px; margin: 0; text-align: center; border: none;}

.edit-address input {margin-top: 5px; margin-bottom: 0; border: none; background: white;}
.edit-address>div {height: 44px; line-height: 44px; margin-top: 5px; padding: 0 15px; background: white;}
.edit-address textarea {margin-top: 5px; border: none; min-height: 88px;}
.edit-address>div span {float: right; margin-top: 10px;}
.edit-address .mui-icon-arrowright {color: #999;}
 


