<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/cloud.medicine.css" />
	</head>

	<body class="has-bottom">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">快药</h1>
			<span class="mui-icon mui-icon-refresh mui-pull-right"></span>
		</header>
		<div class="mui-content">
			<div class="top-tips">
				<span class="mui-icon mui-icon-chat"></span>
				<p>1个任务发布中</p>
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
			<div></div>
			<button class="btn-submit">发布寻药</button>
		</div>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" data-url="../../index.html">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item mui-active" data-url="./fast_medicine.html">
				<span class="mui-icon mui-icon-email"></span>
				<span class="mui-tab-label">快药</span>
			</a>
			<a class="mui-tab-item" data-url="./seek_medicine.html">
				<span class="mui-icon mui-icon-search"></span>
				<span class="mui-tab-label">寻药</span>
			</a>
			<a class="mui-tab-item" data-url="../mine/mine.html">
				<span class="mui-icon mui-icon-contact"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
	</body>

</html>