<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>快药</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/cloud.medicine.css" />
	</head>

	<body class="has-bottom">
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">快药</h1>
			<span class="mui-icon mui-icon-refresh mui-pull-right"></span>
		</header>
		<div class="mui-content">
			<div class="top-tips">
				<img src="../../img/icon_notice.png" />
				<label>1个任务发布中</label>
				<span class="mui-icon mui-icon-arrowright"></span>
			</div>
			<div>
				<img src="../../img/bg_add_pic.png" style="margin-left: 10%;margin-top: 10px; width: 80%;" />
				<div class="fast-content">
					<div class="header-footer-input">
						<span class="point"></span>
						<div>
							<input type="text" placeholder="药房名称" />
						</div>
					</div>
					<div class="header-footer-input">
						<span class="point green"></span>
						<div>
							<input type="tel" placeholder="收件人电话" />
						</div>
					</div>
					<div class="header-footer-input">
						<span class="point purple"></span>
						<div>
							<input type="text" placeholder="药品名称" />
						</div>
					</div>
					<div class="header-footer-input">
						<span class="point"></span>
						<div>
							<input type="number" placeholder="数量" />
						</div>
					</div>
					<div class="header-footer-input">
						<span class="point"></span>
						<div>
							<input type="text" placeholder="配送方式" />
						</div>
					</div>
					<div class="header-footer-input">
						<span class="point"></span>
						<div>
							<input type="text" placeholder="备注" />
						</div>
					</div>
					<div class="radio-group">
						<div class="radio-item mui-pull-left">
							<span></span>
							<label>齐货</label>
						</div>
						<div class="radio-item mui-pull-right">
							<span></span>
							<label>允许多家凑货</label>
						</div>
					</div>
					<button class="btn-submit">发布寻药</button>
				</div>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" data-url="../../index.html">
				<span class="tab-item home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item mui-active" data-url="./fast_medicine.html">
				<span class="tab-item fast"></span>
				<span class="mui-tab-label">快药</span>
			</a>
			<a class="mui-tab-item" data-url="./seek_medicine.html">
				<span class="tab-item message"></span>
				<span class="mui-tab-label">寻药</span>
			</a>
			<a class="mui-tab-item" data-url="../mine/mine.html">
				<span class="tab-item mine"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
	</body>

</html>