<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/cloud.medicine.css" />
	</head>

	<body class="has-bottom">
		<div class="mui-content">
			<div class="mine-top">
				<img src="../../img/logo.png" />
				<p>会员ID:
					<span>18650482509</span>
					<span class="mui-icon mui-icon-compose"></span>
				</p>
			</div>
			<div class="my-order">
				<div class="look-order" data-url="my_order.html">
					<img src="../../img/menu_order.png" />
					<label>我的订单</label>
					<span class="mui-pull-right">
		    				查看详细订单
		    				<span class="mui-icon mui-icon-arrowright"></span>
					</span>
				</div>
				<div class="line-menus average-five">
					<div class="menu-item">
						<img src="../../img/menu_order_my.png" />
						<p>我的发起</p>
					</div>
					<div class="menu-item">
						<img src="../../img/menu_order_pay.png" />
						<p>待付款</p>
					</div>
					<div class="menu-item">
						<img src="../../img/menu_order_send.png" />
						<p>待发货</p>
					</div>
					<div class="menu-item">
						<img src="../../img/menu_order_delivery.png" />
						<p>待收货</p>
					</div>
					<div class="menu-item">
						<img src="../../img/menu_order_evaluate.png" />
						<p>待评价</p>
					</div>
				</div>
			</div>
			<div class="my-money">
				<div>
					<p>300.00<span>元</span></p>
					<p>我的总支出</p>
				</div>
				<div>
					<p>600.00<span>元</span></p>
					<p>我的余额</p>
				</div>
			</div>
			<div class="line-menus average-four">
				<div class="menu-item">
					<img src="../../img/menu_shop_join.png" />
					<p>商家入驻</p>
				</div>
				<div class="menu-item" data-url="delivery_address.html">
					<img src="../../img/menu_address.png" />
					<p>收货地址</p>
				</div>
				<div class="menu-item" data-url="my_collection.html">
					<img src="../../img/menu_collection.png" />
					<p>我的收藏</p>
				</div>
				<div class="menu-item" data-url="software_share.html">
					<img src="../../img/menu_software_share.png" />
					<p>软件分享</p>
				</div>
			</div>
			<div class="line-menus average-three no-divider">
				<div class="menu-item">
					<img  src="../../img/menu_coupons.png"  />
					<p>我的卡券</p>
				</div>
				<div class="menu-item" data-url="about_us.html">
					<img src="../../img/menu_about_us.png" />
					<p>关于我们</p>
				</div>
				<div class="menu-item" data-url="../login/login.html">
					<img src="../../img/menu_loginout.png" />
					<p>退出登录</p>
				</div>
			</div>
		</div>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item" data-url="../../index.html">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" data-url="../medicine/fast_medicine.html">
				<span class="mui-icon mui-icon-email"></span>
				<span class="mui-tab-label">快药</span>
			</a>
			<a class="mui-tab-item" data-url="../medicine/seek_medicine.html">
				<span class="mui-icon mui-icon-search"></span>
				<span class="mui-tab-label">寻药</span>
			</a>
			<a class="mui-tab-item mui-active" data-url=".íí/mine.html">
				<span class="mui-icon mui-icon-contact"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/app.js"></script>
	</body>

</html>